<% include('partials/header.ejs') %>

<article>
    <h1 class="display-5 text-danger">Error 404: Página no encontrada</h1>
    <p>
        Redireccionando a la página de inicio
    </p>
</article>

<script src="/js/redirect.js"></script>


<% include('partials/header.ejs') %>
